<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sales & Marketing Manager</h3>
                            <div class="time">1/14 - 8/17</div>
                        </div><!--//upper-row-->
                        <div class="company"> AdGate Media</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Collaborated with developers, advertisers and production managers to market products and services.</p>  
                      <p>Analyzed third-party data and investigated new growth opportunities.</p>
                      <p>Interviewed new affiliates looking to join the AdGate network.</p>
                      <p>Coordinated and participated in promotional activities and trade show events.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co-Owner</h3>
                            <div class="time">1/16 - 7/16</div>
                        </div><!--//upper-row-->
                        <div class="company">Playa Cielo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Co-founded a company selling beach merchandise in a high tourist location.</p>  
                        <p>Established relationships and negotiated prices with manufacturers overseas.</P>
                        <p>Scouted, interviewed and trained sales employees.</P>
                        <p>Collected revenues and organized payroll.</P>
                        <p>Implemented key sales techniques in order to drive sales and increase revenue.</P>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sales Associate</h3>
                            <div class="time">8/12 - 1/14</div>
                        </div><!--//upper-row-->
                        <div class="company">Wayne Mazda</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Responsible for selling new and used cars at New Jersey's largest Mazda dealership--consistently met and exceeded monthly company sales goals.</p>
                      <p>Notable success building rapport with potential new customers and tailoring the perfect car to match their individual needs.</p>
                      <p>Negotiated prices, terms of sales and service agreements.</p>
                      <p>Built relationships with customers and the community to promote long-term business growth.</p>
                </div><!--//item-->
                
                  
                  
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sales & Account Manager</h3>
                            <div class="time">2/11 - 9/12</div>
                        </div><!--//upper-row-->
                        <div class="company">Smart Sites</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed relationships through phone, email, social media and professional networking.</p>
                        <p>Conducted live product demonstrations over the phone, via webinar and face to face.</p>
                        <p>Prioritized daily workflows, including all inbound calls, quotes, and sales-related inquiries.</p>
                        <p>Emphasized product features based on analysis of customers' needs.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
